# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp

/config/sugarcrm.yml
/config/datacom.yml
/coverage

/.ruby-gemset
/.ruby-version

.idea/
/config/database.yml
/config/secrets.yml
