<h3>List of logs</h3>

<% if @logs.present? %>
  <%= will_paginate %>
  <ul>
    <% @logs.each do |log| %>
      <% log_name = SugarCrm::UpdateLog.name_for(log) %>
      <li><%= link_to log_name, log_path(log_name) %></li>
    <% end %>
  </ul>
  <%= will_paginate %>
<% else %>
  There are no any logs
<% end %>

